In [3]:
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [4]:
#sum up the no till point

In [7]:
n=int(input("enter the no upto you have to sum"))
i=1
sum=0
while i<=n:
    sum=sum+i
    i=i+1
print(sum)

enter the no upto you have to sum 5

15

In [ ]:
#Factorial

In [ ]:
n=int(input("Enter the no "))
fact=1
while n>0:
    fact=fact*n
    n=n-1
print(fact)

In [ ]:
#fibonacci series

In [3]:
n=int(input("Enter the no"))
a,b = 0,1
i=0
while i<n:
    print(a)
    c=a+b
    a=b
    b=c
    i=i+1

Enter the no 4

0
1
1
2

In [2]:
#reverse the string

In [5]:
a=input("enter the no for reverse")
reverse=''
length=len(a)
while length >0:
    reverse = reverse+a[length -1]
    length=length-1
print(reverse)

enter the no for reverse Yash

hsaY

In [6]:
#print tables of no

In [9]:
a=int(input("Enter the no for table"))
i=1

while i<=10:
    t=a*i
    print(a,'*',i,'=',t)
    i=i+1

Enter the no for table 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [10]:
#for loop

In [12]:
a=int(input("Enter the no for table"))
for i in range(11):
    t=a*i
    print(a,'*',i,'=',t)

Enter the no for table 10

10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
n=5
i=1
while i<n:
    pr